<div>
    <div id="map" style="height: 250px; width: 100%;"></div>
    <div class="flex justify-center items-center gap-2 mt-3">
    <%# <p>施設名orサウナ飯店名</p> %>
    <input type="text" id="place_search" placeholder="サウナ施設orサウナ飯店" class="border p-2 rounded">

    <button id="search_execution" class="border p-1 rounded">検索</button>
    <button id="route_search" class="border p-1 rounded">ルート検索</button>
    </div>
</div>