<footer class="bg-sky-400" py-8>
    <div class=" max-w-7xl mx-auto  py-8 px-4 flex  items-baseline justify-between text-white ">
    <%= link_to "プライバシーポリシー", "/"  %>
    <%= link_to "利用規約", "/" %>
    <%= link_to "お問い合わせ", "/" %>
    </div>
</footer>